$color-primary:#FFFFFF;
$color-secundairy:rgb(51, 163, 219);
$color-secundairy--opacity:rgb(51, 163, 219, .85);
$color-accent:#353535;
$color-extraAccent:#A22048;
$color-gradient-secundairy: rgb(51, 163, 219);
$color-gradient-accent: rgb(53, 53, 53, 0.7);

$fw-light: 300;
$fw-semi : 600; 
$fw-bold: 700;